
<div class="row">
	<h1 class="text-center">My Events</h1>

	<div class="table-responsive">
		<table class="table table-hover">
			<tr>
				<th>Event Name</th>
				<th>Date</th>
			<!-- 	<th>PhotoStream</th> -->
				<th>Photos</th>
			</tr>

			<% @events.each do |event| %>
				<tr>
					<td class="lead"><%= link_to event.name, show_event_path(event.custom_url) %></td>
					<td class="lead"><%= event.event_date.strftime("%B %-d, %Y") %></td>
					<!-- <td><%= link_to "/upload/#{event.custom_url}", event_photos_path(event.id)%></td><br> -->
					<td class="lead"><%= event.photos.count %></td>
					
				</tr>
			<% end %>
		</table>
	</div>

	<%= link_to "New Event", new_event_path, class: "btn btn-primary"%>
</div>

