<div class="row">
	<h1>Photo Search</h1>

	<%= form_for(@search, url: search_event_photos_path, method: :get, authenticity_token: false, :html => {:class => "form-horizontal"}) do |f| %> 

	<div class="form-group<%= "#{@search.errors.has_key?(:q) ? ' has-error' : ''}" %>">
 		<div class="col-xs-2">
    	<label class="control-label" for="q">Search Photos</label>
    </div>
    <div class="col-xs-10">
    	<%= f.text_field :q, class: "form-control" %>
 			<% if @search.errors.has_key?(:q) %>
      	<span class="help-block text-danger"><%= @search.errors[:q].first %></span>
      <% end %>
 		</div>
  </div>
 
 <% end %>

<% if !@photos.blank? %>
	<div class="table-responsive">
		<table class="table table-hover">
			<tr>
				<th>Photo Title</th>
				<th>Date Added</th>
				<th>View Photo</th>
			</tr>

			<% @event.photos.each do |photo| %>
			
				<tr>
					<td><%= photo.image_file_name %></td>
			
					<td><%= photo.created_at %></td>

					<td><%= link_to "View Photo", "/events/#{photo.event_id}/photos/#{photo.id}" %>
				</tr>
			<% end %>
		</table>
	</div>

<% else @search.valid? %>
	<p>No Matching Photos</p>
<%end %>

	<%= link_to "PhotoStream", event_photos_path(@event), class: "btn btn-success btn-sm photoUpload" %>
</div>
